li {
  font-size: 60px;
  transition: width 2s;
}

/*ul li:nth-child(2n+3) {
  color: red;
}

input {
  width: 400px;
  height: 100px;
}

input:focus {
  font-size: 40px;
}

a {
  font-size: 40px;
}

a:visited {
  color: green;
  font-size: 20px;
}*/

li:hover {
  font-size: 100px;
  color: blue;
  background-color: pink;
}

div {
  width: 300px;
  height: 300px;
  background-color: red;
  margin: 10px;
}

div:hover {
  /*transition: width 2s*/
  /*transform: rotate3d(360deg);*/
  /*transform: rotateZ(200, 300, 500, 360deg);*/
  transform:
    translateX(300px);
    /*translate3d:(15px, 15px, 0);*/
    scale3d(0.5, 0.5, 0.5);
  transition-duration:3s;
}

@media only screen and (max-width: 800px) {
  line {
    transform: scale3d(0.5, 0.5, 0.5);
  }
}
